# Python
*.py[cod]
*.py[cod].*
*$py.class

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Environments
.env
venv/
ENV/
env/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.swp

# Databases
*.sqlite3

# Static and media files
/static/
/media/

# Migrations
*/migrations/*

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# macOS
.DS_Store