<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/dashboard.css' %}">
    <title>Dashboard | {{user.username}}</title>
</head>
<body>
    <div class="sidebar">
        <h2>DumbSchool</h2>
        <div class="profile-info">
            <img src="{% static 'images/profile-placeholder.jpg' %}" alt="User profile" />
			<div class="name">
				<p>{{ user.username }}</p>
			</div>
           
            <p>{{ user.groups.all.0.name }}</p>
        </div>
        <nav>
            <a href="#">Home</a>
            {% if user.groups.all.0.name == "Teacher" %}
            <a href="{% url 'login:addTask' %}">Add Task</a>
            {% endif %}
           
            <a href="{% url 'login:viewTasks' %}">View Tasks</a>

            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Log Out</button>
            </form>
        </nav>
    </div>

    <div class="content">
        <div class="welcome-box">
            <h1>Welcome, {{ user.username }}</h1>
            <p>Your gateway to a smarter future.</p>
        </div>
        <div class="tasks-overview">
            <h2>Dashboard</h2>
            <p>Hi, {{ user.username }}. You are registered as a {{ user.groups.all.0.name }}.</p>

            <div class="news">
                <h3>News</h3>
                {% if news %}
                <ul>
                    {% for article in news %}
                       <div>
                            <h2>{{ article.title }}</h2>
                            <p>{{ article.description }}</p>
                       </div>
                    {% endfor %}
                </ul>
                
            {% else %}
                <p>No news</p>
            {% endif %}
            </div>
        </div>
    </div>
</body>
</html>