<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'login/dashboard.css' %}">
		<title>Dashboard | {{user.username }}</title>
	</head>
	<body>
		<div class="topbar">
			<div class="left">
				<h1>Dashboard</h1>
			</div>
			<div class="right">
				<p>{{ user.username }}</p>
				<form method="post" action="{% url 'logout' %}">
					{% csrf_token %}
					<button type="submit">Log Out</button>
				</form>
			</div>
		</div>
		

		<p>Hi, {{ user.username }}. Welcome to your dashboard.</p>
		<p>You are registered as: {{ user.groups.all.0.name }}.</p>


		{% if user.groups.all.0.name == "Teacher" %}
		<form method="post" action="{% url 'login:addTask' %}">
			{% csrf_token %}
			<button type="submit">Add Task</button>
		</form>
		{% endif %}

		<form method="post" action="{% url 'login:viewTasks' %}">
			{% csrf_token %}
			<button type="submit">View Tasks</button>

			
		</form>
	</body>
</html>
