<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    
<h1>Tasks</h1>

{% if tasks %}
    <ul>
        {% for task in tasks %}
           <div>
                <h2>{{ task.title }}</h2>
                <p>{{ task.description }}</p>
                <p>Due date: {{ task.due_date }}</p>
           </div>
        {% endfor %}
    </ul>
{% else %}
    <p>No tasks</p>
{% endif %}
</body>
</html>